  :root {
    --color-primary-0: #318D31 ;	/* Main Primary color */
    --color-primary-1: #0D2F0D ;
    --color-primary-2: #5DEA5D ;
    --color-primary-3: #00C700 ;
    --color-primary-4: #303030 ;

    --color-secondary-1-0: #2A7957 ;	/* Main Secondary color (1) */
    --color-secondary-1-1: #0B291C ;
    --color-secondary-1-2: #58DEA5 ;
    --color-secondary-1-3: #00AB62 ;
    --color-secondary-1-4: #2A302D ;

    --color-secondary-2-0: #659D37 ;	/* Main Secondary color (2) */
    --color-secondary-2-1: #20350F ;
    --color-secondary-2-2: #A3F461 ;
    --color-secondary-2-3: #65DE00 ;
    --color-secondary-2-4: #3A3A3A ;

    --color-complement-0: #B03E3E ;	/* Main Complement color */
    --color-complement-1: #3B1010 ;
    --color-complement-2: #FF6565 ;
    --color-complement-3: #F90000 ;
    --color-complement-4: #463D3D ;
  }

  body {
    background: var(--color-primary-4);
    font-family: sans-serif;
    color: white
  }
  
  header {
    background: var(--color-secondary-2-4);
    width: 100%;
    height: 5%;
    padding: 8px 4px;
    border-radius: 16px;
    position: relative;
    font-family: sans-serif;
  }
  
  .headerbutton {
    background: var(--color-secondary-1-3);
    color: white;
    transition-duration: 0.4s;
    border-radius: 16px;   
    font-size: 20px;
    height: 32px;
    min-width: 100px;
    max-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .headerbutton:hover {
    background-color: var(--color-secondary-1-0);
    padding-right: 25px;
    padding-left: 25px;
  }

  .headerimg {
    width: 60px;
    vertical-align: middle;
  }

  footer {
    position: fixed;
    left: 0;
    right: 0;
    width: 100;
    padding: 7px 7px;
    border-radius: 0px;
    background: var(--color-secondary-2-4);
  }
  
  a { 
    color: inherit; 
  }  /*This allows a HTML redirect to have the same color as the text before the redirect, used in the footer. Neat, innit? */
